#cartItem{
    border-style: solid;
    border-width: .1px;
    height: 240px;
    width: 90%;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 4%;
}
#itemsWrapper{
    margin-top: 8%;
    display: flex;
}
#remAdd{
    margin-left: -10%;
    margin-top: 10.8%;
    display: flex;
}
#addBtn{
    cursor: pointer;
    padding: 6px;
    height: 10px;
    font-size: 3rem;
    z-index: 4;
}
#addBtn:Hover{
    opacity: .6;
}
#remBtn{
    margin-left: 10%;
    cursor: pointer;
    border-width: 0.1px;
    padding: 6px;
    font-size: 3.2rem;
    width:20%;
    z-index: 4;
}
#remBtn:hover{
    opacity: .6;
}
#cartItemDetails{
    font-size: 1.2rem;
    line-height: 40%;
    width: 40%;
    font-family: var(--font-mont);
    margin-top: 10%;
    margin-left: 2%
}
#cartItemDetails h4{
    font-family: var(--font-poppin);
}
#cartImg{
    background-size: cover;
    width: 40%;
    height: 100%;
    background-position: center;
}
@media only screen and (max-width: 780px){
    #cartItem{
        height: 200px;
        width: 90%;
        margin-left: 4.6%;
    }
    #cartItemDetails{
        width: 30%;
        line-height: 100%;
    }
    #remBtn{
        font-size: 2.2rem;
    }
    #addBtn{
        font-size: 2.2rem;
    }
}
