

#card{
    height: 340px;
    width: 250px;
    margin-top: 8%;
    margin-left: 6%;
    margin: 20px;
    box-shadow: 1px 6px 5px 2px rgb(0, 0, 0, 0.4);
    position: relative;
    border-radius: 8px;
}

#cardImg{
    background-size: cover;
    height: 64%;
    border-radius: 8px 8px 0px 0px;
    background-position: center;
}
#cardImg:hover {
    transition: 1s ease-in;
    border-style: solid;
    border-width: 0.1px;
}

#cardProps{
    z-index: 4;
    box-sizing: border-box;
    margin-left: 2%;
}
#dot1{
    position: absolute;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: rgb(255, 54, 54);
    z-index: 0;
    left: 16%;
    top: 6%
}
#cardDetails{
    line-height: 4px;
    margin-left: 10%;
    font-weight: 300;
}
#cardDetails h3 {
    font-weight: 500;
}
#addToCart{
    border-radius: 8px;
    border-style: solid;
    background-color: black;
    color: white;
    padding: 4.8px;
    cursor: pointer;
    margin-left: 10%;
    font-weight: 600;
}
#addToCart:hover{
    color: black;
    background-color: white;
}
@media only screen and (max-width: 780px) {
    #card{
        width: 140px;
        height: 230px;
    }
    #cardDetails{
        font-size: .6rem;
    }
    #addToCart{
        padding: 2px;
        font-weight: 300;
    }
}