#prevType{
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#prevBox{
    background-color: inherit;
}
#clothLink{
    color: inherit;
}
@media only screen and (max-width: 780px) {
    #prevType{
        grid-template-columns: repeat(2, 1fr);
    }
}