#homeMain{
    padding: 2%;
    height: 100vh;
    width: 92%;
}
#shoeImg{
    width: 50%;
    position: absolute;
    right: 4%;
    z-index: 4;
    top: 12%;
    animation: moveIn 1.4s ease forwards;
    filter: drop-shadow(16px 20px 16px black);
}
@-webkit-keyframes moveIn {
    0%{
        opacity: 0%;
        transform: translateX(240px);
    }100%{
        opacity: 100%;
        trasnform: translateX(0%);
    }   
}
#dot{
    height: 540px;
    width: 540px;
    border-radius: 50%;
    background-color: rgb(248, 59, 81);
    z-index: 0;
    right: 3%;
    top: 20%;
    position: absolute;
}
#title{
    font-size: 6.8rem;
    margin-left: 18.8%;
    margin-top: 16%;
}
#titleUnder{
    font-size: 1.32rem;
    margin-left: 4%;
    margin-top: -2%;
}
#desc1{
    position: relative;
    top: -1.8%;
    left: 4.4%;
    font-size: .76rem;
}
#kLogo{
    position: absolute;
    font-family: 'Bungee Shade', cursive;
    font-size: 14rem;
    left: 4.8%;
    top: 12%;
    color: inherit;
    
}
