
#shopMain{
    padding: 2%;
    background-color: inherit;
}
#topShop{
    height: 480px;
    overflow: hidden;
    margin-top: 10%;
    box-shadow: 3px 8px 8px 3px rgb(0, 0, 0, 0.3);
    border-radius: 8px;
}
#slash{
    height: 900px;
    width: 600px;
    background-color: rgb(248, 59, 81);
    position: relative;
    right: -60%;
    top: -12%;
    transform: rotate(45deg);
}
#activeWear {
    position: absolute;
    left: 10%;
    top: 22%;
    font-size: 5.6rem;
}
#activeTxt{
    position: absolute;
    left: 10.2%;
    top: 42.8%;
}
#bigImg{
    width: 35.4%;
    position: absolute;
    right: 10%;
    top: 18%;
    z-index: 3;
    filter: drop-shadow(4px 8px 16px black);
}
@media only screen and (max-width: 780px) {
    #activeWear{
        font-size: 3.4rem;
        top: 16%;
    }
    #bigImg{
        width: 64%;
        top: 30%;
        right: -10%
    }
    #activeTxt{
        top: 32%;
        font-size: .6rem;
    }
}
