
#shopMain{
    padding: 2%;
    background-color: inherit;
}
#topShop{
    height: 480px;
    overflow: hidden;
}
#slash{
    height: 900px;
    width: 600px;
    background-color: rgb(248, 59, 81);
    position: relative;
    right: -60%;
    top: -12%;
    transform: rotate(45deg);
}
#activeWear {
    position: absolute;
    left: 10%;
    top: 22%;
    font-size: 5.6rem;
    animation: moveIn1 1.4s ease forwards;
}
#bigImg{
    width: 35.4%;
    position: absolute;
    right: 10%;
    top: 18%;
    z-index: 4;
    animation: moveIn 1.4s ease forwards;
    filter: drop-shadow(4px 8px 16px black);
}
@keyframes moveIn {
    0% {
        opacity: 0%;
        transform: translateX(240px);
    }

    100% {
        opacity: 100%;
        trasnform: translateX(0%);
    }
}
@keyframes moveIn1 {
    0% {
        opacity: 0%;
        transform: translateX(-240px);
    }

    100% {
        opacity: 100%;
        trasnform: translateX(0%);
    }
}
