:root{
    --main-col: rgb(248, 59, 81);
    --font-mont: 'Montserrat', sans-serif;
    --font-poppin: 'Poppins', sans-serif;
    --nav: 90%;
}
#navMain{
    display: flex;
    padding: 1.6%;
    background-color: var(--main-col);
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    left: 0%;
    z-index: 8;
}
#navMain1{
    display: flex;
    padding: 1.6%;
    background-color: rgb(248, 59, 81);
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    left: 0%;
    z-index: 4;
}

#navMainul{
    align-items: left;
    display: flex;
    margin-left: 36%;
}
#navMainli{
    list-style: none;
    margin-left: 26%;
    font-weight: bold;
}
#navMainA{
    color: inherit;
    text-decoration: none;
}
#navMainA:hover{
    color: rgb(162, 162, 162);
}
#logo{
    position: absolute;
    font-size: 2.4rem;
    top: -28.4%;
    cursor: pointer;
}
#hamburger {
    display: none;
    position: absolute;
}
#cart{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 24%;
    right: 10%;
    z-index: 8;
}
#numItems{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 13.2%;
    right: 8.88%;
}
#cartDrop{
    position: absolute;
    height: 300px;  
    width: 400px;
    right: 0%;
    box-sizing: border-box;
    padding: 2.6%;
    transition: .4s ease-in;
    z-index: 5;
}

@media only screen and (max-width: 780px) {
    #logo{
        font-size: 1.4rem;
        display: none;
    }
    #navMain{
        display: inline;
        width: 100%;
        z-index: 8;
        transition: .6s ease;
    }
    #navMain1{
        transition: .6s ease;
    }
    #navMainul {
        display: inline;
        margin-left: 24%;
    }
    #navMainli{
        margin-left: -66%;
    }
    #hamburger {
        border-style: solid;
        border-radius: 8px;
        position: absolute;
        top:1%;
        left: 1%;
        z-index: 5;
        color: rgb(135, 135, 135);
        display: block;
        padding: 4px;
    }
    #ham{
        display: block;
        width: 26px;
        height: 4px;
        margin: 4px auto;
        background-color: rgb(175, 175, 175);
        z-index: 100;
    }
    #navMain{
        left:-100%;
    }
    #navMain1{
        left: 0%;
    }
    #cart{
        height: 50px;
        width: 50px;
        position: absolute;
        top: 24%;
        right: 24%;
    }
    #numItems{
        top: 14.6%;
        right: 20.4%;
    }

}
