.App {
}
.dark{
    background: rgb(21, 21, 21);
    color: white;
    height: 100%;
    transition: ease-in 0.6s;
}
.light{
    background: rgb(251, 251, 251);
    color: black;
    height: 100%;
    transition: ease-in 0.6s;
}
#check {
    position: absolute;
    display: block;
    width: 60px;
    height: 32px;
    cursor: pointer;
    background: rgb(222, 240, 249);
    border-radius: 16px;
    z-index: 20;
    right: 4%;
    top: 4%;
    transition: ease-in 0.5s;
}
#check2 {
    position: absolute;
    display: block;
    width: 60px;
    height: 30px;
    cursor: pointer;
    background: rgb(45, 45, 45);
    border-radius: 16px;
    z-index: 20;
    right: 4%;
    top:4%;
    transition: ease-in 0.5s;
}
#sun {
    height: 26px;
    width: 26px;
    top: 10%;
    left: 30%;
    position: relative;
    transition: ease-in 0.5s;
    transform: translateX(6px);
}

#moon {
    height: 28px;
    width: 30px;
    top: 4.2%;
    left: 16.8%;
    position: relative;
    transition: ease-out 0.5s;
    transform: translateX(-8px);
}
